{{form_start(form)}}
<table>
<tr>
<td>
{{form_label(form.objet)}}
</td>
<td>
{{form_widget(form.objet)}}
</td>
</tr>
<tr>
<td>
{{form_label(form.description)}}
</td>
<td>
{{form_widget(form.description)}}
</td>
</tr>

<tr>
<td>
{{form_label(form.fichier)}}
</td>
<td>
{{form_widget(form.fichier)}}
</td>
</tr>

<tr>
<td>
{{form_label(form.prix)}}
</td>
<td>
{{form_widget(form.prix)}}
</td>
</tr>

<tr>
<td>
{{form_label(form.promotion)}}
</td>
<td>
{{form_widget(form.promotion)}}
</td>
</tr>

<tr>
<td>
{{form_label(form.categorieAnnonce)}}
</td>
<td>
{{form_widget(form.categorieAnnonce)}}
</td>
</tr>
<tr>
<td>
{{form_label(form.niveau)}}
</td>
<td>
{{form_widget(form.niveau)}}
</td>
</tr>

{{form_widget(form.etat)}}






<tr>
<td colspan=2>
<input type="submit"/>
</td>
</tr>
</table>
{{form_end(form)}}